@media (max-width: 500px) {
  .favorite-page-wrapper{
      background-color: #fdc57b;
      padding: 1rem;
      width: 100%;
  }  

  .favorite-page-wrapper h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .back-btn{
    margin-bottom: 1rem;
}

}

