@media (max-width: 500px) {    
    .login-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .username, .password {
        padding: .5rem;
    }

    .login-btn{
        padding: .5rem 2rem;
    }

}
