@media (max-width: 500px) {
    .movie-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: .5rem;
        background-color: rgb(251, 242, 213, .5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        overflow: hidden;
        max-width: 100%;
        padding: .5rem;
        border-radius: 5px;
    }

    .thumbnail {
        width: 80px;
        height: auto;
        border-radius: 5px;
        margin-right: 0px;
    }

    .title-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-left: .5rem;
        background-color: transparent;
    }

    .movie-title {
        text-decoration: none;
        font-size: 1.5rem;
        color: #394a51;
        background-color: transparent;
        text-align: center;

    }

    .hidden {
        display: none;
    }

    .btns {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        background-color: transparent;
    }

    .link {
        text-decoration: none;
        background-color: transparent;
    }

    .favorite-icon, .delete-icon {
        display: flex;
        height: 3rem;
        width: 3rem;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .fa-regular, .fa-solid {
        color: #7fa99b;
        font-size: 2rem;
        cursor: pointer;
        background-color: transparent;
    }
    
    .fa-regular:hover, .fa-solid:hover {
        opacity: 0.8;
    }


    
}