@media (max-width: 500px){
    .details-component{
        width: 100%;
        padding: 1rem;
    }

    .details-component h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .back-btn{
        margin-bottom: 1rem;
    }

    img, video{
        margin: 0;
        width: 100%;
        border-radius: 5px;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

}    