.movie-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    max-width: 300px;
}

.thumbnail {
    height: auto;
    width: 100%;
}

.tempClass {
    display: none;
}