@media (max-width: 500px) {
    .movie-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: .5rem;
    }

    .thumbnail{
        width: 80px;
        margin-right: 0px;
    }

    .title-container{
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .title{
        text-decoration: none;
        
    }

    .butns{
        width: 100%;

    }

    .favorite-btn, .remove-btn{
        padding: .5rem 1rem;
    }
}