@media (max-width: 500px){

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .details-component{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2{
        padding: 0;
    }

    img, video{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

}    